:root{
  --tamanho-da-fonte: 1.4rem;
  --cor-da-fonte: white;
  --raio-borda:5px;
}

body{
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--cor-da-fonte);
  background: #0f2027;
  background: -webkit-linear-gradient(to right, #2c5364, #203A43, #0f2027);
  background: linear-gradient(to right, #2c5364, #203A43, #0f2027);
  font-family: 'Montserrat', sans-serif;
}

.destaque{
  font-weight: 900;
  font-size: 2.rem;
}
.imagem{
  height: 180px;
  border-radius: 50%;
}

.campo{
  display: flex;
  align-items: center;
  font-size: var(--tamanho-da-fonte);
  margin-bottom: 10px;
}

.entrada{
  outline: none;
  padding: 5px 10px;
  margin: 0px 20px;
  font-size: var(--tamanho-da-fonte);
  color: var(--cor-da-fonte);
  border-radius: var(--raio-borda);
  border: 1px solid #0009;
  background-color: #0005;
}

.botao{
  background-color: rgb(91,89,89);
  margin-top: 20px;
  padding: 10px 30px;
  border-radius: 200px;
  border: none;
  color: var(--cor-da-fonte);
  font-size: var(--tamanho-da-fonte);
}

.invisivel{
  display: none;
}

#resposta{
  font-weight: 700;
  font-size: var(--tamanho-da-fonte);
  padding: 15px 30px;
  border: 1px solid #0009;
  background-color: #0005;
  border-radius: var(--raio-borda);
}

@media(min-width: 300px) and (max-width: 800px){
  body{
     width: 100vw;
    
  }
  .destaque{
    text-align: center;
    font-size: 1.4rem;
  }
  .campo{
    font-size: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
   
  }
  .campo label{
    margin-bottom:20px;
    font-size: 1.4rem;
  }
  .entrada{
   padding: 2px 3px;
  }
}